// Per-process resource directives
// Memory, CPU, and walltime are derived from the original SLURM submission scripts

process {
    withName: 'STAR_ALIGN' {
        cpus   = 8
        memory = '56 GB'
        time   = '8h'
    }
    withName: 'FILTER_BAM' {
        cpus   = 8
        memory = '12 GB'
        time   = '1h30m'
    }
    withName: 'COUNT_GENES' {
        cpus   = 12
        memory = '56 GB'
        time   = '2h'
    }
    withName: 'GENE_EXPRESSION_SE' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
    withName: 'MERGE_GENE_EXPR' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
    withName: 'FILTER_INTRONS' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
    withName: 'IPA_DETECT' {
        cpus   = 16
        memory = '64 GB'
        time   = '30m'
    }
    withName: 'COLLECT_RETENTION' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
    withName: 'INTRON_RETENTION_SE' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
    withName: 'FILTER_COVERAGE' {
        cpus   = 2
        memory = '48 GB'
        time   = '30m'
    }
    withName: 'PELT_CHANGEPOINT' {
        cpus   = 1
        memory = '16 GB'
        time   = '5h'
    }
    withName: 'FILTER_CHANGEPOINTS' {
        cpus   = 8
        memory = '48 GB'
        time   = '1h30m'
    }
    withName: 'MERGE_CHANGEPOINTS' {
        cpus   = 2
        memory = '8 GB'
        time   = '30m'
    }
    withName: 'FILTER_TERMINAL_EXONS' {
        cpus   = 2
        memory = '32 GB'
        time   = '30m'
    }
    withName: 'MAKE_ATLAS' {
        cpus   = 4
        memory = '28 GB'
        time   = '18h'
    }
    withName: 'CALC_IPA_USAGE' {
        cpus   = 1
        memory = '16 GB'
        time   = '15h'
    }
    withName: 'IPA_USAGE_SE' {
        cpus   = 4
        memory = '16 GB'
        time   = '1h'
    }
}
